<h2>Edit Task: <%= @task.title %></h2>

<%= form_for @task, url: task_path(@task), :method => :put do |f| %>

  <%= field_set_tag do %>
    <%= f.label :wedding_id %>
    <%= f.text_field :wedding_id %>
  <% end %>

  <%= field_set_tag do %>
    <%= f.label :title %>
    <%= f.text_field :title %>
  <% end %>

  <%= field_set_tag do %>
    <%= f.label :task_details %>
    <%= f.text_field :task_details %>
  <% end %>

  <%= field_set_tag do %>
    <%= f.label :date_time_due %>
    <%= f.datetime_select(:date_time_due, { start_year: Time.now.year, end_year: (Time.now.year + 10), order: [:day, :month, :year]}) %>
  <% end %>

  <%= field_set_tag do %>
    <%= f.label :location %>
    <%= f.text_field :location %>
  <% end %>

  <%= submit_tag "Save Changes" %>

<% end %>