<h2>Task List</h2>

<div class="task-item">

<ul>
  <% @tasks.each do |t| %>
    <li>
      Wedding: <%= t.wedding_id %>
      <%= link_to "Edit Task", edit_task_path("#{t.id}"), :class => "change-task" %>
      <%= link_to "Delete Task", task_path("#{t.id}"), :method => :delete,:class => "change-task" %>
    </li> 
    
    <li>Task: <%= t.title %></li>
    <li>Description: <%= t.task_details %></li>
    <li>Date/Time Due: <%= t.date_time_due.strftime('%d . %B . %Y, at %H:%M') %></li>
    <li>Location: <%= t.location %></li>
  <% end %>
</ul>

</div>