<!DOCTYPE html>
<html>
<head>
  <title>WeddingCircle</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <%#= csrf_meta_tags %>
</head>
<body>

<div class="big-wrapper">
<header>

<h1><%= link_to "Wedding Circle", root_path, :class => "header-title" %></h1>

<nav>
  <ul class="nav-list">
    <% if user_signed_in? %>
    <li>
    <li><%= link_to "Home", root_path %></li>   
    <li><%= link_to "My Dashboard", user_path %></li> 
    <li><%= link_to "My Tasks", tasks_path %></li>
    <li><%= link_to "My Events", weddings_weddings_path %></li>
    <li><%= link_to "Weddings", weddings_path %></li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
    </li>
    <% else %>
    <li>
      <%= link_to('Login', new_user_session_path) %>  
      <%= link_to('Sign Up', new_user_registration_path) %>  
    </li>
    <% end %>
  </ul>
<nav>

</header>


<main class="main-content">
  <%= yield %>
</main>

</div>

</body>
</html>
